@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(
    to bottom,
    #feae84,
    #e8897a,
    #cc6775,
    #a94a71,
    #7f336c
  );
  background-attachment: fixed;
}

*:focus {
  outline: none;
}

a:visited {
  color: black;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
