.home-container {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: auto;
  width: 480px;
  margin: 0 auto;
  margin-top: 3%;
  box-shadow: 9px 9px 13px -8px rgba(38, 38, 38, 0.67);
}

.home-back-btn {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  background-image: radial-gradient(
    circle,
    #ff7276,
    #e76380,
    #ca5986,
    #aa5287,
    #894c83
  );
  border-radius: 5px;
  margin: 10px;
  color: #fff;
  font-weight: bold;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-back-btn:hover {
  color: rgb(39, 39, 39);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.home-wrapper{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.text-area-container{
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border-bottom: 2px solid #dd8189;
}

.text-area-container textarea{
  width: 360px;
  height: 100px;
  max-width: 360px;
  min-width: 360px;
  max-height: 250px;
  min-height: 100px;
  font-size: 17px;
  padding-left: 5px;
  border: 2px solid rgb(187, 185, 185);
  box-shadow: 0px 6px 10px -3px rgba(199, 196, 196, 0.75);
}

.posts-container{
  width: 420px;
  font-size: 22px;
  border-radius: 5px;
}

.posts-wrapper{
  background-color: rgb(252, 250, 250);
  margin: 8px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0px 6px 10px -3px rgba(199, 196, 196, 0.75);
}

.posts-container ul {
  list-style: none;
}

.posts-container li{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-size: 18px;
}

.post{
  padding: 10px;
}

.greeting-text{
  font-size: 22px;
  font-weight: bold;
}

.post-text{
  word-break: break-all;
}

.post-del-btn{
  font-size: 24px;
  margin-left: 5px;
  color: rgb(204, 35, 35);
  cursor: pointer;
}

.new-post-btn{
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  background-color: rgb(96, 206, 96);
  margin: 5px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
}

.new-post-btn:hover{
  background-color: rgb(30, 151, 30);
  transition: all 0.3s;
}

@media (max-width: 600px) {
  .home-container {
    flex-direction: column;
    width: auto;
  }

  .home-wrapper{
    padding: 0px;
  }

  .posts-container{
    width: 100%;
  }

  .posts-wrapper {
    width: 380px;
  }
}
