.not-found-container {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: 105px;
  width: 400px;
  margin: 0 auto;
  margin-top: 3%;
  box-shadow: 9px 9px 13px -8px rgba(38, 38, 38, 0.67);
}

.not-found-text {
  margin: 10px;
}
